* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Import Font From Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500;1,700&display=swap');
/* Akhir Import Font From Google Font */

/* Navbar */
nav {
    background-color: #0B2545;
}

.wrapper_nav {
    display: flex;
    justify-content: space-between;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 2%;
    padding-bottom: 2%;
    align-items: center;
}

#active {
    background-color: #13315C;
    padding: 20px;
    border-radius: 10px;
    color: #EEF4ED;
}

.wrapper_nav > h1 {
    color: #EEF4ED;
}

ul {
    display: flex;
    gap: 50px;
}

ul > li {
    list-style: none;
}

ul > li > a {
    color: #545454;
    text-decoration: none;
    transition: 0.5s;
}

ul > li > a:hover {
    color: #EEF4ED;
    text-decoration: none;
}

#active:hover{
    background-color: #0a1d34;
    color: #8DA9C4;
}
/* Akhir Navbar */

main {
    background-color: #13315C;
}

.wrapper_main {
    padding-top: 10%;
    margin: 0 10% 0 10%;
    display: flex;
    justify-content: space-between;
    color: #EEF4ED;
}

.wrapper_main > h1 > span {
    width: 400px;
    font-size: 50pt;
    color: #8DA9C4;
}

.wrapper_main > p {
    width: 500px;
}